<div *ngIf="cargaService.estaCargando$ | async" class="cargando-overlay">
  <div class="spinner"></div>
  <p>⏳ Cargando, por favor espere...</p>
</div>

<div class="contenedor">
  <nav class="navbar">
    <h1>Gestión de Predicciones de Diabetes</h1>
  </nav>

  <div class="acciones-container">
    <!-- Buscador a la izquierda -->
    <div class="buscador-container">
      <input type="text" placeholder="Buscar en el historial..." class="buscador-input" [formControl]="nombreBuscado" />
    </div>

    <!-- Botones a la derecha -->
    <div class="botones-acciones">
      <button (click)="Agregar()">➕ Añadir</button>
      <button (click)="Eliminar()">🗑️ Eliminar</button>
      <button (click)="Actualizar()">🔄 Actualizar</button>
    </div>
  </div>

  <div class="tabla-container">
    <h2>Historial de predicciones</h2>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Embarazos</th>
          <th>Glucosa</th>
          <th>Presión</th>
          <th>Piel</th>
          <th>Insulina</th>
          <th>IMC</th>
          <th>Pedigree</th>
          <th>Edad</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filtramos el historial utilizando la variable nombreBuscado -->
        <tr *ngFor="let item of historialFiltrado"  (click)="SeleccionarPersonas(item.persona)">
          <td>{{ item.persona.nombre }}</td> <!-- Muestra el nombre de la persona -->
          <td>{{ item.persona.pregnancies }}</td>
          <td>{{ item.persona.plasmaGlucose }}</td>
          <td>{{ item.persona.bloodPressure }}</td>
          <td>{{ item.persona.skinThickness }}</td>
          <td>{{ item.persona.insulin }}</td>
          <td>{{ item.persona.bmi }}</td>
          <td>{{ item.persona.diabetesPedigreeFunction }}</td>
          <td>{{ item.persona.age }}</td>
          <td>
            <span [ngClass]="item.resultado === 'tested_positive' ? 'positivo' : 'negativo'">
              {{ item.resultado === 'tested_positive' ? 'Positivo' : 'Negativo' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

