<div class="contenedor-diabetes">
  <h2 class="titulo-diabetes">Conozca los Campos Clave para el Diagnóstico de Diabetes</h2>

  <div class="cards-container">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS28fnSZ425lPT2QiOw6pTum6GOvHURRGxvew&s" alt="Edad" class="icono">
      <h3>Edad</h3>
      <p>Indica la edad del paciente. Es un factor clave en el análisis del riesgo de diabetes.</p>
    </div>

    <div class="card">
      <img src="https://media.istockphoto.com/id/1269890725/es/vector/icono-de-la-diabetes-cubo-de-az%C3%BAcar-dentro-de-la-gota-de-sangre.jpg?s=612x612&w=0&k=20&c=TbQxDTI63nBjP4c7jvw3rm04WtyBt4e2lGMoXfOeybg=" alt="Glucosa" class="icono">
      <h3>Glucosa</h3>
      <p>Nivel de glucosa en sangre. Valores altos pueden indicar presencia de diabetes.</p>
    </div>

    <div class="card">
      <img src="https://media.istockphoto.com/id/695935540/es/vector/icono-de-la-presi%C3%B3n-arterial.jpg?s=612x612&w=0&k=20&c=2l9XR5QAxEE0QAy_xGDuYn7cFSJ9qb_nreoY_YHCtRU=" alt="Presión" class="icono">
      <h3>Presión arterial</h3>
      <p>Indica la presión sanguínea del paciente, relacionada con su salud cardiovascular.</p>
    </div>

    <div class="card">
      <img src="https://www.shutterstock.com/image-vector/cute-cartoon-smiling-blood-drop-600nw-1615998352.jpg" alt="Espesor de piel" class="icono">
      <h3>Espesor de piel</h3>
      <p>Medida del grosor del pliegue cutáneo, útil para estimar el nivel de grasa corporal.</p>
    </div>

    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/6192/6192186.png" alt="Insulina" class="icono">
      <h3>Insulina</h3>
      <p>Concentración de insulina en sangre. Ayuda a diagnosticar desórdenes metabólicos.</p>
    </div>

    <div class="card">
      <img src="https://media.istockphoto.com/id/1341761658/es/vector/gr%C3%A1fico-de-categor%C3%ADas-de-imc-%C3%ADndice-de-masa-corporal-y-escala-de-personas-masivas.jpg?s=612x612&w=0&k=20&c=VopZd7SWfM7Gr-ctQWqVNewWIvQsyLzB-EkLXp2nBpI=" alt="IMC" class="icono">
      <h3>IMC</h3>
      <p>Índice de Masa Corporal. Relaciona peso y estatura para evaluar sobrepeso u obesidad.</p>
    </div>

    <div class="card">
      <img src="https://media.istockphoto.com/id/92401709/es/vector/herencia.jpg?s=612x612&w=0&k=20&c=7rtRCM5ZBEk_1OThLRg_plhoZd6gThRneosXHbycdQU=" alt="Función hereditaria" class="icono">
      <h3>Función hereditaria</h3>
      <p>Probabilidad genética de tener diabetes, basada en antecedentes familiares.</p>
    </div>

    <div class="card">
      <img src="https://previews.123rf.com/images/sibgat/sibgat1510/sibgat151000048/46075332-positivo-y-negativo-concepto-de-realimentaci%C3%B3n-dise%C3%B1o-plano-icono-en-c%C3%ADrculo-sobre-fondo-blanco.jpg" alt="Resultado" class="icono">
      <h3>Resultado</h3>
      <p>Diagnóstico automático: puede ser "tested_positive" o "tested_negative".</p>
    </div>
  </div>
</div>
